.HeaderLogo{
  display: none;
}
.footerComp{
  display: none;
}
.main{
  display: block;
}
button:hover{
  color:#23527c;
}
.list_show{
  border-top: 2px solid #000000;
}

.list_eps::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.list_eps::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.list_eps::-webkit-scrollbar-thumb {
  background: #e50914; 
}

/* Handle on hover */
.list_eps::-webkit-scrollbar-thumb:hover {
  background: #555; 
}